<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la solicitud no es para un directorio
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si existe un archivo con la extensión .html
    RewriteCond %{REQUEST_FILENAME}.html -f

    # Reescribe la URL eliminando la extensión .html
    RewriteRule ^(.*)$ $1.html [L]
</IfModule>
