@media (max-width:1000px) {
    .two-column-section{
        flex-direction: column;
        height: auto;
        flex-wrap: nowrap;
    }
    .text-column .image-column {
        width: 100% ; 
    }
    .image-column img {
        max-width: 100%;
        height: auto; 
         display: block; 
         margin: 50px auto;
    }
    .container-causas {
        margin: 0 auto;
        padding: 4% 5%;
        background-color: #F2F8F8;
    }
    .meningitis-meningococo {
        padding: 2% 3%;
        background-color: #9794EB;
        color: white;
    }
    .contenedor-sintomas.derecha {
      
        padding: 2% 1%;
    }
}